<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>

  <!-- Material Design Theming -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <script type="text/javascript">

    function toggleSignIn() {
      if (firebase.auth().currentUser) {
        // [START signout]
        firebase.auth().signOut();
        // [END signout]
      } else {
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        if (email.length < 4) {
          alert('Please enter an email address.');
          return;
        }
        if (password.length < 4) {
          alert('Please enter a password.');
          return;
        }
        // Sign in with email and pass.
        // [START authwithemail]
        firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // [START_EXCLUDE]
          if (errorCode === 'auth/wrong-password') {
            alert('Wrong password.');
          } else {
            alert(errorMessage);
          }
          console.log(error);
          document.getElementById('quickstart-sign-in').disabled = false;
          // [END_EXCLUDE]
        });
        // [END authwithemail]
      }
      document.getElementById('quickstart-sign-in').disabled = true;
    }

    /**
     * Handles the sign up button press.
     */
    function handleSignUp() {
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      if (email.length < 6) {
        alert('Please enter an email address.');
        return;
      }
      if (password.length < 6) {
        alert('Please enter a password.');
        return;
      }
      // Create user with email and pass.
      // [START createwithemail]
      firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode == 'auth/weak-password') {
          alert('The password is too weak.');
        } else {
          alert(errorMessage);
        }
        console.log(error);
        // [END_EXCLUDE]
      });
      // [END createwithemail]
    }

    function sendPasswordReset() {
      var email = document.getElementById('email').value;
      // [START sendpasswordemail]
      firebase.auth().sendPasswordResetEmail(email).then(function() {
        // Password Reset Email Sent!
        // [START_EXCLUDE]
        alert('Password Reset Email Sent!');
        // [END_EXCLUDE]
      }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode == 'auth/invalid-email') {
          alert(errorMessage);
        } else if (errorCode == 'auth/user-not-found') {
          alert(errorMessage);
        }
        console.log(error);
        // [END_EXCLUDE]
      });
      // [END sendpasswordemail];
    }

    function fetchLists(uid){
      let url = 'http://localhost:8090/lists'
      const data = { UID: uid };
      let lists = {}
      fetch( url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          })
          .then(response => {
            return response.json();
          })
          .then((data) => {
            let lists = document.getElementById("lists");
            for (i = "0"; i < data.length; i++) {
              let list = document.createElement("div");
              list.setAttribute("id", data[i]["ID"])
              list.setAttribute("class", "cursor-pointer font-bold")
              list.innerHTML = data[i]["Name"]
              lists.appendChild(list);               
            }
            selectAll()
          })
          .catch((error) => {
            console.error('Error:', error);
          });
    }

    function selectAll(){
      const lists = document.querySelectorAll(".cursor-pointer")
        for (const list of lists) {
          list.addEventListener('click', fetchTasks.bind(this, list.id), false)
        }
    }

    function selectAllUpdates(){
      const btnsUpdate = document.querySelectorAll(".task-update")
        for (const btnUpdate of btnsUpdate) {
          btnUpdate.addEventListener('click', updateTask.bind(this, btnUpdate.id), false)
        }
    }

    function selectAllDeleted(){
      const btnsDeleted = document.querySelectorAll(".task-delete")
        for (const btnDel of btnsDeleted) {
          btnDel.addEventListener('click', deleteTask.bind(this, btnDel.id), false)
        }
    }

    function updateTask(id) {
      console.log(id)
    }

    function deleteTask(id) {
      let IDS = JSON.parse("[" + id + "]");
      if(confirm('Odstranit?')) {
        let url = `http://localhost:8090/lists/${IDS[0]}/tasks/${IDS[1]}`
          const task = { 
            ID: IDS[1],
            ListID: IDS[0],
          }
         fetch( url, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(task),
          })
          .then(response => {
            return response.json();
          })
          .then((data) => {
            console.log(data)
          })
          .catch((error) => {
            console.error('Error:', error);
          });
          }
      }

    function addList() {
       firebase.auth().onAuthStateChanged(function(user) {
         if (user) { 
          var Name = document.getElementById('NewList').value;
          if(Name){
            let url = 'http://localhost:8090/lists'
            const list = { 
              Name: Name,
              UID: user.uid ,
            }
          fetch( url, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(list),
          })
          .then(response => {
            return response.json();
          })
          .then((data) => {
            var lists = document.getElementById("lists")
            var list = document.createElement("div")
            list.setAttribute("id", data["ID"])
            list.setAttribute("class", "cursor-pointer font-bold")
            list.innerHTML = data["Name"]
            list.addEventListener('click', fetchTasks, false)
            lists.appendChild(list); 
          })
          .catch((error) => {
            console.error('Error:', error);
          });
          }
        }
       })
    }
    function addTask(ListID){
     firebase.auth().onAuthStateChanged(function(user) {
         if (user) { 
          var Name = document.getElementById('NewTask').value;
          if(Name){
            let url = `http://localhost:8090/lists/${ListID}/tasks`
            const task = { 
              Name: Name,
              UID: user.uid ,
              ListID: ListID,
            }
          fetch( url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(task),
          })
          .then(response => {
            return response.json();
          })
          .then((data) => {
            console.log(data)
          })
          .catch((error) => {
            console.error('Error:', error);
          });
          }
        }
       })
    }

    function fetchTasks(id){
      let url = 'http://localhost:8090/lists/'+id+'/tasks'
      console.log(url)
      fetch( url, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            },
          })
          .then(response => {
            return response.json();
          })
          .then((data) => {
            let tasks = document.getElementById("tasks");
            let input = document.createElement("input")
            input.setAttribute("id", "NewTask")
            input.setAttribute("placeholder", "Přidat task")
            let btnCreate = document.createElement("button")
            btnCreate.setAttribute("class", "addTask pl-2 font-bold")
            btnCreate.innerHTML = 'Přidat task'
            btnCreate.addEventListener('click', addTask.bind(this, data[0]["ListID"]), false)
            tasks.appendChild(input);
            tasks.appendChild(btnCreate);
            for (i = "0"; i < data.length; i++) {
              let task = document.createElement("div");
              task.setAttribute("id", data[i]["ListID"]+','+data[i]["ID"])
              task.setAttribute("class", "task font-bold")
              task.innerHTML = data[i]["Name"]
              let btnUpdate = document.createElement("button")
              btnUpdate.setAttribute("id", data[i]["ListID"]+','+data[i]["ID"])
              btnUpdate.setAttribute("class", "task-update text-green-400 font-bold pl-2")
              btnUpdate.innerHTML = "Upravit"
              let btnDeleted = document.createElement("button")
              btnDeleted.setAttribute("id", data[i]["ListID"]+','+data[i]["ID"])
              btnDeleted.setAttribute("class", "task-delete text-red-400 font-bold pl-2")
              btnDeleted.innerHTML = "Smazat"
              task.appendChild(btnUpdate)
              task.appendChild(btnDeleted)
              tasks.appendChild(task);
            } 
            selectAllUpdates()
            selectAllDeleted()
          })
          .catch((error) => {
            console.error('Error:', error);
          });
    }
    function initApp() {

        firebase.initializeApp(firebaseConfig);
      // Listening for auth state changes.
      // [START authstatelistener]
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {          
          // User is signed in.
          var displayName = user.displayName;
          var email = user.email;
          var photoURL = user.photoURL;
          var isAnonymous = user.isAnonymous;
          var uid = user.uid;
          var providerData = user.providerData;

          var lists = fetchLists(uid)
          // [START_EXCLUDE]
          document.getElementById('quickstart-sign-in').textContent = 'Odhlásit se';
          // [END_EXCLUDE]
        } else {
          // User is signed out.
          // [START_EXCLUDE]
          document.getElementById('quickstart-sign-in').textContent = 'Přihlásit se';
          // [END_EXCLUDE]
        }
        // [START_EXCLUDE silent]
        document.getElementById('quickstart-sign-in').disabled = false;
        document.getElementById('addList').addEventListener('click', addList, false);
        // [END_EXCLUDE]
      });
      // [END authstatelistener]

      document.getElementById('quickstart-sign-in').addEventListener('click', toggleSignIn, false);
      document.getElementById('quickstart-sign-up').addEventListener('click', handleSignUp, false);
      document.getElementById('quickstart-password-reset').addEventListener('click', sendPasswordReset, false);
      
    }

    window.onload = function() {
      initApp();
    };
  </script>
</head>
<body>
 <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

      <!-- Container for the demo -->
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
          <h2 class="mdl-card__title-text">Todo App</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <p>Zadejte přihlašovací údaje nebo se zaregistrujte</p>

          <input class="mdl-textfield__input" style="display:inline;width:auto;" type="text" id="email" name="email" placeholder="Email"/>
          &nbsp;&nbsp;&nbsp;
          <input class="mdl-textfield__input" style="display:inline;width:auto;" type="password" id="password" name="password" placeholder="Password"/>
          <br/><br/>
          <button disabled class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-in" name="signin">Přihlásit se</button>
          &nbsp;&nbsp;&nbsp;
          <button class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-up" name="signup">Registrovat se</button>
          &nbsp;&nbsp;&nbsp;
          <button class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-password-reset" name="verify-email">Zapomněli jste heslo?</button>
            &nbsp;&nbsp;&nbsp;
        </div>
        <input class="mdl-textfield__input w-1/2" style="display:inline;width:auto;" type="text" id="NewList" name="NewList" placeholder="Přidejte nový list"/>
        <button class="mdl-button mdl-js-button mdl-button--raised w-1/2" id="addList" name="create-list">Přidat list</button>
         &nbsp;&nbsp;&nbsp;
      <div id="tasks">
      </div>
      <div id="lists">
      </div>
      </div>

    </div>
  </main>
</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBTyG3JLX23nQH4Afd_N8qWjbDuQva3uAM",
    authDomain: "todo-3840c.firebaseapp.com",
    databaseURL: "https://todo-3840c.firebaseio.com",
    projectId: "todo-3840c",
    storageBucket: "todo-3840c.appspot.com",
    messagingSenderId: "25387032102",
    appId: "1:25387032102:web:68214b912b3c2cfeb510e7",
    measurementId: "G-HC3SS3EPE8"
  };
</script>
 <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-firestore.js"></script>
</html>